<div class="row justify-content-around list-wrapper">
    <div class="col-sm-10 col-md-5">
        <ul  id="uneatenList">
            <h2>Available Characters</h2>
        {{#each burgers}}
            <li class="characterList">
                </a><p>{{name}} - {{race}} - {{class}}</p>
                <button class="delete" data-id="{{id}}">
                    Delete
                </button>
            </li>
        {{/each}}
        </ul>
    </div>
</div>